[Unit]
Description=Linux System Monitor
After=network.target

[Service]
ExecStart=/your/path/to/the/project
Restart=always
User=your-username
StandardOutput=append:/var/log/linux_monitor/monitor.log
StandardError=append:/var/log/linux_monitor/monitor.err

[Install]
WantedBy=multi-user.target

