[Unit]
Description=Linux System Monitor
After=network.target

[Service]
ExecStart=/home/sacra-home/Projects/System-Monitor-Web/sys_monitor.sh
Restart=always
User=sacramento
StandardOutput=append:/var/log/linux_monitor/monitor.log
StandardError=append:/var/log/linux_monitor/monitor.err

[Install]
WantedBy=multi-user.target

